.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

body {
    background-image: url(img/download.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
